/* Student Home Page Style */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  padding: 20px;
  text-align: center;
}

header .university-logo {
  width: 20%;
}

header h1 {
  color: #000000;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 15px 5px;
}

a {
  text-decoration: none;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: 0.2s;
  overflow: hidden;
}

#Logout-button:hover {
  background-color: red;
  color: #ffffff;
}
#Homepage-button:hover {
  background-color: blue;
  color: #ffffff;
}

main {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card h2 {
  color: black;
  text-align: center;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
